# Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
# Import data

# Assign the path variable 

path = r'C:\Users\guest23455\Desktop\CareerFoundry\Data Immersion\Achievement 6_Advanced Analytics and Dashboard Design\06-2023 Apartment Rental in Germany Analysis'

In [3]:
# Import the immo data

df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'immo_data.csv'), index_col = False)

In [4]:
df.head(10)

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20
5,Schleswig_Holstein,142.00,gas_heating,NONE,NaN,False,True,5,4.48,2.4,...,Schleswig_Flensburg_Kreis,Struxdorf,NaN,"helle ebenerdige 2 Zi. Wohnung mit Terrasse, h...",NaN,NaN,NaN,NaN,NaN,Feb20
6,Sachsen,70.00,self_contained_central_heating,ONE_YEAR_FREE,10.0,False,False,9,1.01,2.4,...,Mittelsachsen_Kreis,Freiberg,Am Bahnhof 14 in Freiberg\nHeizkosten und Warm...,NaN,NaN,NaN,NaN,NaN,NaN,Feb20
7,Bremen,88.00,central_heating,ONE_YEAR_FREE,10.0,False,True,5,1.89,2.4,...,Bremen,St._Magnus,+ Komfortabler Bodenbelag: Die Wohnung ist zus...,Rollläden; Warmwasserbereiter; Kellerraum; Gas...,44.00,B,NaN,NaN,NaN,Feb20
8,Baden_Württemberg,110.00,oil_heating,ONE_YEAR_FREE,NaN,False,False,5,3.77,40.0,...,Emmendingen_Kreis,Denzlingen,"Diese ansprechende, lichtdurchflutete DG-Wohnu...","Parkett, Einbauküche, kein Balkon",NaN,E,NaN,NaN,NaN,Feb20
9,Nordrhein_Westfalen,95.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,False,7,1.92,40.0,...,Gelsenkirchen,Bulmke_Hüllen,Sie sind auf der Suche nach einer gepflegten u...,In Ihrem neuen Zuhause können Sie nach wenigen...,NaN,NaN,NaN,NaN,NaN,Oct19

In [5]:
df.columns

Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'telekomHybridUploadSpeed', 'newlyConst', 'balcony', 'picturecount',
       'pricetrend', 'telekomUploadSpeed', 'totalRent', 'yearConstructed',
       'scoutId', 'noParkSpaces', 'firingTypes', 'hasKitchen', 'geo_bln',
       'cellar', 'yearConstructedRange', 'baseRent', 'houseNumber',
       'livingSpace', 'geo_krs', 'condition', 'interiorQual', 'petsAllowed',
       'street', 'streetPlain', 'lift', 'baseRentRange', 'typeOfFlat',
       'geo_plz', 'noRooms', 'thermalChar', 'floor', 'numberOfFloors',
       'noRoomsRange', 'garden', 'livingSpaceRange', 'regio2', 'regio3',
       'description', 'facilities', 'heatingCosts', 'energyEfficiencyClass',
       'lastRefurbish', 'electricityBasePrice', 'electricityKwhPrice', 'date'],
      dtype='object')

# Checking for Data Quality Issues

In [6]:
# Explore the data 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [7]:
# Descriptive Statistics

df.describe()

,serviceCharge,telekomHybridUploadSpeed,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,yearConstructedRange,...,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,livingSpaceRange,heatingCosts,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,261941.000000,45020.0,268850.000000,267018.000000,235492.000000,2.283330e+05,211805.000000,2.688500e+05,93052.000000,211805.000000,...,268850.000000,162344.000000,217541.000000,171118.000000,268850.000000,268850.000000,85518.000000,80711.000000,46846.000000,46846.000000
mean,151.206113,10.0,9.791958,3.389001,28.804928,9.013315e+02,1966.400590,1.069697e+08,1.327634,3.714544,...,2.641261,114.749533,2.122405,3.572319,2.571542,3.070790,76.990866,2013.904536,89.113612,0.199769
std,308.295790,0.0,6.408399,1.964874,16.337151,3.323833e+04,46.992207,1.250093e+07,8.361403,2.738134,...,2.633440,61.653663,3.634934,6.375496,0.937594,1.407127,147.716278,10.963125,5.395805,0.009667
min,0.000000,10.0,0.000000,-12.330000,1.000000,0.000000e+00,1000.000000,2.887174e+07,0.000000,1.000000,...,1.000000,0.100000,-1.000000,0.000000,1.000000,1.000000,0.000000,1015.000000,71.430000,0.170500
25%,95.000000,10.0,6.000000,2.000000,10.000000,4.698000e+02,1950.000000,1.066910e+08,1.000000,1.000000,...,2.000000,79.000000,1.000000,2.000000,2.000000,2.000000,54.000000,2012.000000,90.760000,0.191500
50%,135.000000,10.0,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,1.111584e+08,1.000000,3.000000,...,3.000000,107.000000,2.000000,3.000000,3.000000,3.000000,70.000000,2017.000000,90.760000,0.198500
75%,190.000000,10.0,13.000000,4.570000,40.000000,9.850000e+02,1996.000000,1.137688e+08,1.000000,5.000000,...,3.000000,140.300000,3.000000,4.000000,3.000000,4.000000,90.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,14.920000,100.000000,1.575154e+07,2090.000000,1.157117e+08,2241.000000,9.000000,...,999.990000,1996.000000,999.000000,999.000000,5.000000,7.000000,12613.000000,2919.000000,90.760000,0.227600

In [8]:
# Check for mixed-types

# Function for checking whether a datframe contains any mixed-type columns :

for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)   # Weird (boolean value) : a new variable is created, which checks if the data types within the column are consistent
    if len (df[weird]) > 0:          # 0 : False and 1 : True; So if the value is True , i.e 1 ,then it will print the column name
        print(col)

heatingType
telekomTvOffer
firingTypes
houseNumber
condition
interiorQual
petsAllowed
streetPlain
typeOfFlat
description
facilities
energyEfficiencyClass

I will not change the data types of the above columns becuase they are not requiered for analysis.

In [9]:
# Missing values

df.isnull().sum()

regio1                           0
serviceCharge                 6909
heatingType                  44856
telekomTvOffer               32619
telekomHybridUploadSpeed    223830
newlyConst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomUploadSpeed           33358
totalRent                    40517
yearConstructed              57045
scoutId                          0
noParkSpaces                175798
firingTypes                  56964
hasKitchen                       0
geo_bln                          0
cellar                           0
yearConstructedRange         57045
baseRent                         0
houseNumber                  71018
livingSpace                      0
geo_krs                          0
condition                    68489
interiorQual                112665
petsAllowed                 114573
street                           0
streetPlain                  71013
lift                             0
baseRentRange                    0
typeOfFlat                   36614
geo_plz                          0
noRooms                          0
thermalChar                 106506
floor                        51309
numberOfFloors               97732
noRoomsRange                     0
garden                           0
livingSpaceRange                 0
regio2                           0
regio3                           0
description                  19747
facilities                   52924
heatingCosts                183332
energyEfficiencyClass       191063
lastRefurbish               188139
electricityBasePrice        222004
electricityKwhPrice         222004
date                             0
dtype: int64

In [10]:
# Dropping unwanted columns

drop_columns = (['telekomTvOffer', 'telekomHybridUploadSpeed', 'telekomUploadSpeed','scoutId', 'firingTypes', 'houseNumber', 'condition', 'interiorQual','streetPlain', 'thermalChar','description', 'facilities', 'energyEfficiencyClass', 'electricityBasePrice', 'electricityKwhPrice', 'date'])

In [11]:
drop_columns

['telekomTvOffer',
 'telekomHybridUploadSpeed',
 'telekomUploadSpeed',
 'scoutId',
 'firingTypes',
 'houseNumber',
 'condition',
 'interiorQual',
 'streetPlain',
 'thermalChar',
 'description',
 'facilities',
 'energyEfficiencyClass',
 'electricityBasePrice',
 'electricityKwhPrice',
 'date']

In [12]:
df.drop(drop_columns, axis=1, inplace=True)

In [13]:
df

,regio1,serviceCharge,heatingType,newlyConst,balcony,picturecount,pricetrend,totalRent,yearConstructed,noParkSpaces,...,noRooms,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,heatingCosts,lastRefurbish
0,Nordrhein_Westfalen,245.00,central_heating,False,False,6,4.62,840.0,1965.0,1.0,...,4.0,1.0,3.0,4,True,4,Dortmund,Schüren,NaN,NaN
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,8,3.47,NaN,1871.0,2.0,...,3.0,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,NaN,2019.0
2,Sachsen,255.00,floor_heating,True,True,8,2.72,1300.0,2019.0,1.0,...,3.0,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,NaN,NaN
3,Sachsen,58.15,district_heating,False,True,9,1.53,NaN,1964.0,NaN,...,3.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,87.23,NaN
4,Bremen,138.00,self_contained_central_heating,False,True,19,2.46,903.0,1950.0,NaN,...,3.0,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,heat_pump,False,True,0,2.74,910.0,2016.0,1.0,...,3.0,NaN,NaN,3,False,4,Weilheim_Schongau_Kreis,Eberfing,NaN,NaN
268846,Hessen,220.00,gas_heating,False,True,12,6.49,1150.0,1983.0,1.0,...,3.5,1.0,1.0,3,False,5,Bergstraße_Kreis,Viernheim,NaN,2015.0
268847,Hessen,220.00,central_heating,False,True,21,2.90,930.0,1965.0,1.0,...,4.0,1.0,2.0,4,True,4,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn,NaN,2019.0
268848,Nordrhein_Westfalen,175.00,heat_pump,True,True,16,4.39,1015.0,2019.0,1.0,...,2.0,NaN,5.0,2,False,3,Köln,Dellbrück,40.00,2019.0
268849,Hessen,315.00,central_heating,False,True,9,5.00,NaN,1972.0,1.0,...,3.0,NaN,13.0,3,False,3,Frankfurt_am_Main,Sossenheim,NaN,NaN

In [14]:
df.columns

Index(['regio1', 'serviceCharge', 'heatingType', 'newlyConst', 'balcony',
       'picturecount', 'pricetrend', 'totalRent', 'yearConstructed',
       'noParkSpaces', 'hasKitchen', 'geo_bln', 'cellar',
       'yearConstructedRange', 'baseRent', 'livingSpace', 'geo_krs',
       'petsAllowed', 'street', 'lift', 'baseRentRange', 'typeOfFlat',
       'geo_plz', 'noRooms', 'floor', 'numberOfFloors', 'noRoomsRange',
       'garden', 'livingSpaceRange', 'regio2', 'regio3', 'heatingCosts',
       'lastRefurbish'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268850 non-null  object
 1   serviceCharge         261941 non-null  float64
 2   heatingType           223994 non-null  object
 3   newlyConst            268850 non-null  bool
 4   balcony               268850 non-null  bool
 5   picturecount          268850 non-null  int64
 6   pricetrend            267018 non-null  float64
 7   totalRent             228333 non-null  float64
 8   yearConstructed       211805 non-null  float64
 9   noParkSpaces          93052 non-null   float64
 10  hasKitchen            268850 non-null  bool
 11  geo_bln               268850 non-null  object
 12  cellar                268850 non-null  bool
 13  yearConstructedRange  211805 non-null  float64
 14  baseRent              268850 non-null  float64
 15  livingSpace           268850 non-null  float64
 16  geo_krs               268850 non-null  object
 17  petsAllowed           154277 non-null  object
 18  street                268850 non-null  object
 19  lift                  268850 non-null  bool
 20  baseRentRange         268850 non-null  int64
 21  typeOfFlat            232236 non-null  object
 22  geo_plz               268850 non-null  int64
 23  noRooms               268850 non-null  float64
 24  floor                 217541 non-null  float64
 25  numberOfFloors        171118 non-null  float64
 26  noRoomsRange          268850 non-null  int64
 27  garden                268850 non-null  bool
 28  livingSpaceRange      268850 non-null  int64
 29  regio2                268850 non-null  object
 30  regio3                268850 non-null  object
 31  heatingCosts          85518 non-null   float64
 32  lastRefurbish         80711 non-null   float64
dtypes: bool(6), float64(13), int64(5), object(9)
memory usage: 56.9+ MB

The data type of Year of construction should be int, but it is float

In [16]:
# Missing values

df.isnull().sum()

regio1                       0
serviceCharge             6909
heatingType              44856
newlyConst                   0
balcony                      0
picturecount                 0
pricetrend                1832
totalRent                40517
yearConstructed          57045
noParkSpaces            175798
hasKitchen                   0
geo_bln                      0
cellar                       0
yearConstructedRange     57045
baseRent                     0
livingSpace                  0
geo_krs                      0
petsAllowed             114573
street                       0
lift                         0
baseRentRange                0
typeOfFlat               36614
geo_plz                      0
noRooms                      0
floor                    51309
numberOfFloors           97732
noRoomsRange                 0
garden                       0
livingSpaceRange             0
regio2                       0
regio3                       0
heatingCosts            183332
lastRefurbish           188139
dtype: int64

In [17]:
# After further analysis, I would like to drop more columns

drop_columns1 = (['heatingType','yearConstructedRange','baseRentRange','noRoomsRange','livingSpaceRange','lastRefurbish','typeOfFlat','geo_krs','street'])

In [18]:
df.drop(drop_columns1, axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   regio1           268850 non-null  object
 1   serviceCharge    261941 non-null  float64
 2   newlyConst       268850 non-null  bool
 3   balcony          268850 non-null  bool
 4   picturecount     268850 non-null  int64
 5   pricetrend       267018 non-null  float64
 6   totalRent        228333 non-null  float64
 7   yearConstructed  211805 non-null  float64
 8   noParkSpaces     93052 non-null   float64
 9   hasKitchen       268850 non-null  bool
 10  geo_bln          268850 non-null  object
 11  cellar           268850 non-null  bool
 12  baseRent         268850 non-null  float64
 13  livingSpace      268850 non-null  float64
 14  petsAllowed      154277 non-null  object
 15  lift             268850 non-null  bool
 16  geo_plz          268850 non-null  int64
 17  noRooms          268850 non-null  float64
 18  floor            217541 non-null  float64
 19  numberOfFloors   171118 non-null  float64
 20  garden           268850 non-null  bool
 21  regio2           268850 non-null  object
 22  regio3           268850 non-null  object
 23  heatingCosts     85518 non-null   float64
dtypes: bool(6), float64(11), int64(2), object(5)
memory usage: 38.5+ MB

In [20]:
df.isnull().sum()

regio1                  0
serviceCharge        6909
newlyConst              0
balcony                 0
picturecount            0
pricetrend           1832
totalRent           40517
yearConstructed     57045
noParkSpaces       175798
hasKitchen              0
geo_bln                 0
cellar                  0
baseRent                0
livingSpace             0
petsAllowed        114573
lift                    0
geo_plz                 0
noRooms                 0
floor               51309
numberOfFloors      97732
garden                  0
regio2                  0
regio3                  0
heatingCosts       183332
dtype: int64

In [21]:
# Handling missing values
# Replacing missing quantitative values with 0

df[['serviceCharge', 'pricetrend','totalRent','yearConstructed','noParkSpaces','floor','numberOfFloors','heatingCosts']] = df[['serviceCharge', 'pricetrend','totalRent','yearConstructed','noParkSpaces','floor','numberOfFloors','heatingCosts']].fillna(value=0)

In [22]:
# Replacing missing categorical values with Not Mentioned

df['petsAllowed'] = df['petsAllowed'].fillna(value='Not Mentioned')

In [23]:
df.isnull().sum()

regio1             0
serviceCharge      0
newlyConst         0
balcony            0
picturecount       0
pricetrend         0
totalRent          0
yearConstructed    0
noParkSpaces       0
hasKitchen         0
geo_bln            0
cellar             0
baseRent           0
livingSpace        0
petsAllowed        0
lift               0
geo_plz            0
noRooms            0
floor              0
numberOfFloors     0
garden             0
regio2             0
regio3             0
heatingCosts       0
dtype: int64

In [24]:
df.shape

(268850, 24)

In [25]:
# Check for duplicate values

df_dups = df[df.duplicated()]

In [26]:
# View duplicate values

df_dups

,regio1,serviceCharge,newlyConst,balcony,picturecount,pricetrend,totalRent,yearConstructed,noParkSpaces,hasKitchen,...,petsAllowed,lift,geo_plz,noRooms,floor,numberOfFloors,garden,regio2,regio3,heatingCosts
2811,Sachsen,220.00,False,False,14,3.28,678.00,1920.0,0.0,True,...,negotiable,False,4357,2.0,0.0,0.0,False,Leipzig,Mockau_Süd,0.0
5095,Sachsen,220.00,False,False,14,3.28,678.00,1920.0,0.0,True,...,negotiable,False,4357,2.0,0.0,0.0,False,Leipzig,Mockau_Süd,0.0
9410,Sachsen,260.00,True,True,4,2.78,1295.00,2019.0,1.0,False,...,negotiable,True,4178,4.0,1.0,0.0,True,Leipzig,Böhlitz_Ehrenberg,0.0
11589,Sachsen,141.00,False,True,5,3.51,491.00,1980.0,0.0,False,...,Not Mentioned,False,4509,3.0,4.0,4.0,False,Nordsachsen_Kreis,Delitzsch,0.0
11601,Nordrhein_Westfalen,35.00,False,False,5,2.91,0.00,0.0,0.0,False,...,no,False,47533,2.5,1.0,0.0,False,Kleve_Kreis,Kleve,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268101,Nordrhein_Westfalen,153.50,False,True,3,4.08,903.50,0.0,0.0,False,...,Not Mentioned,False,51143,2.0,3.0,0.0,True,Köln,Zündorf,0.0
268213,Nordrhein_Westfalen,120.00,False,False,9,3.34,520.70,1962.0,0.0,False,...,Not Mentioned,False,42477,3.0,0.0,3.0,False,Oberbergischer_Kreis,Radevormwald,0.0
268259,Sachsen_Anhalt,142.75,False,True,13,1.90,599.55,0.0,0.0,False,...,negotiable,True,39122,2.0,2.0,3.0,False,Magdeburg,Fermersleben,0.0
268560,Schleswig_Holstein,80.40,False,False,2,4.68,389.23,1998.0,0.0,False,...,Not Mentioned,False,24534,1.0,0.0,0.0,False,Neumünster,Innenstadt,62.0
268786,Sachsen,255.43,True,True,1,6.17,1123.88,2019.0,0.0,False,...,Not Mentioned,False,4103,4.0,0.0,2.0,False,Leipzig,Zentrum_Südost,0.0

There were 1836 duplicate rows. I will create a new df excluding the duplicate values.

In [27]:
df_dup_clean = df.drop_duplicates()

In [28]:
df_dup_clean.shape

(266909, 24)

In [29]:
df_dup_clean.columns

Index(['regio1', 'serviceCharge', 'newlyConst', 'balcony', 'picturecount',
       'pricetrend', 'totalRent', 'yearConstructed', 'noParkSpaces',
       'hasKitchen', 'geo_bln', 'cellar', 'baseRent', 'livingSpace',
       'petsAllowed', 'lift', 'geo_plz', 'noRooms', 'floor', 'numberOfFloors',
       'garden', 'regio2', 'regio3', 'heatingCosts'],
      dtype='object')

In [30]:
# Rename columns

df_dup_clean = df_dup_clean.rename(columns = {'regio1' : 'State', 'geo_plz' : 'Zipcode','regio2' : 'City', 'regio3' : 'Districts'})

In [31]:
df_dup_clean = df_dup_clean.rename(columns = {'serviceCharge' : 'Service_Charge', 'newlyConst' : 'Newly_Constructed', 'balcony' : 'Balcony', 'picturecount' : 'Picture_Count', 'pricetrend' : 'Price_Trend', 'totalRent' : 'Total_Rent', 'yearConstructed' : 'Year_Constructed', 'noParkSpaces' : 'Number of Parking Spaces', 'hasKitchen':'Has_Kitchen','cellar':'Cellar', 'baseRent':'Base_Rent', 'livingSpace' : 'Area (m2)', 'petsAllowed' : 'Pets_Allowed', 'lift' :'Lift', 'noRooms' : 'Number of Rooms', 'floor' : 'Floor', 'numberOfFloors' : 'Number of Floors', 'garden' : 'Has_Garden', 'heatingCosts' : 'Heating_Costs' })

In [32]:
# Changing data type of yearConstructed

df_dup_clean['Year_Constructed'] = df_dup_clean['Year_Constructed'].astype('int')

In [33]:
df_dup_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266909 entries, 0 to 268849
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   State                     266909 non-null  object
 1   Service_Charge            266909 non-null  float64
 2   Newly_Constructed         266909 non-null  bool
 3   Balcony                   266909 non-null  bool
 4   Picture_Count             266909 non-null  int64
 5   Price_Trend               266909 non-null  float64
 6   Total_Rent                266909 non-null  float64
 7   Year_Constructed          266909 non-null  int32
 8   Number of Parking Spaces  266909 non-null  float64
 9   Has_Kitchen               266909 non-null  bool
 10  geo_bln                   266909 non-null  object
 11  Cellar                    266909 non-null  bool
 12  Base_Rent                 266909 non-null  float64
 13  Area (m2)                 266909 non-null  float64
 14  Pets_Allowed              266909 non-null  object
 15  Lift                      266909 non-null  bool
 16  Zipcode                   266909 non-null  int64
 17  Number of Rooms           266909 non-null  float64
 18  Floor                     266909 non-null  float64
 19  Number of Floors          266909 non-null  float64
 20  Has_Garden                266909 non-null  bool
 21  City                      266909 non-null  object
 22  Districts                 266909 non-null  object
 23  Heating_Costs             266909 non-null  float64
dtypes: bool(6), float64(10), int32(1), int64(2), object(5)
memory usage: 39.2+ MB

In [34]:
df_dup_clean['Year_Constructed'].describe()

count    266909.000000
mean       1548.838188
std         805.213594
min           0.000000
25%        1900.000000
50%        1962.000000
75%        1992.000000
max        2090.000000
Name: Year_Constructed, dtype: float64

The value 2090 is an outlier.

In [35]:
df_dup_clean['Year_Constructed'].value_counts()

0       56670
2019    10753
1900    10307
2018     8637
1995     4363
        ...
1586        1
1027        1
1787        1
1627        1
1472        1
Name: Year_Constructed, Length: 466, dtype: int64

I would like to consider the data above 1800. So I would like to anlyse the data from 1800 to 2023.

In [37]:
df_immo = df_dup_clean[(df_dup_clean['Year_Constructed'] < 2023) & (df_dup_clean['Year_Constructed'] > 1800)]

In [38]:
df_immo['Year_Constructed'].value_counts()

2019    10753
1900    10307
2018     8637
1995     4363
1996     4326
        ...
1822        1
1814        1
1817        1
1811        1
1804        1
Name: Year_Constructed, Length: 218, dtype: int64

In [39]:
df_immo.shape

(209208, 24)

In [40]:
df_immo['Year_Constructed'].describe()

count    209208.000000
mean       1967.947913
std          38.445865
min        1803.000000
25%        1950.000000
50%        1973.000000
75%        1996.000000
max        2022.000000
Name: Year_Constructed, dtype: float64

# Exporting Data

In [41]:
df_immo.to_csv(os.path.join(path,'Data','Prepared Data','immodata_cleaned.csv'))

In [43]:
df_immo.head()

,State,Service_Charge,Newly_Constructed,Balcony,Picture_Count,Price_Trend,Total_Rent,Year_Constructed,Number of Parking Spaces,Has_Kitchen,...,Pets_Allowed,Lift,Zipcode,Number of Rooms,Floor,Number of Floors,Has_Garden,City,Districts,Heating_Costs
0,Nordrhein_Westfalen,245.00,False,False,6,4.62,840.0,1965,1.0,False,...,Not Mentioned,False,44269,4.0,1.0,3.0,True,Dortmund,Schüren,0.00
1,Rheinland_Pfalz,134.00,False,True,8,3.47,0.0,1871,2.0,False,...,no,False,67459,3.0,0.0,0.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim,0.00
2,Sachsen,255.00,True,True,8,2.72,1300.0,2019,1.0,False,...,Not Mentioned,True,1097,3.0,3.0,4.0,False,Dresden,Äußere_Neustadt_Antonstadt,0.00
3,Sachsen,58.15,False,True,9,1.53,0.0,1964,0.0,False,...,Not Mentioned,False,9599,3.0,3.0,0.0,False,Mittelsachsen_Kreis,Freiberg,87.23
4,Bremen,138.00,False,True,19,2.46,903.0,1950,0.0,False,...,Not Mentioned,False,28213,3.0,1.0,0.0,False,Bremen,Neu_Schwachhausen,0.00